!!! 5

%html{lang: 'en', class: "no-js #{data.page.slug || ''}"}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %meta{name: 'keywords', content: 'onderzoek, ADHD, Ritalin, Mindfulness'}
    %meta{name: 'author', content: 'Renée Meppelink'}

    %title
      - if data.page.title
        = data.page.title
      - else
        ADHD: Meditatie of medicatie?

    = javascript_include_tag 'main', 'modernizr'
    = stylesheet_link_tag 'application'

  %body{class: page_classes}
    %header.mod-header
      .layout-wrap
        - if data.page.title
          %h1= link_to data.page.title, '/'
        - else
          - unless page_classes.include?('index')
            %h1= link_to 'ADHD: Meditatie of Medicatie?', '/'

        %nav
          %ul
            %li= nav_link 'Intro', '/'
            %li= nav_link 'Jongeren', '/jongeren.html'
            %li= nav_link 'Ouders', '/ouders.html'
            %li= nav_link 'Leerkrachten', '/leerkrachten.html'
            %li= nav_link 'Verwijzers', '/verwijzers.html'
            %li= nav_link '<span class="uk-flag"></span>Research'.html_safe, '/onderzoek.html'
            %li= nav_link 'Contact', '/contact.html'

    = yield

    .mod-footer
      .layout-wrap
        %ul.organizations
          %li.uva
            = link_to 'http://www.uva.nl' do
              = image_tag('uva.jpg', alt: 'UvA')
          %li.uva_minds
            = link_to 'http://www.uvaminds.nl' do
              = image_tag('uva-minds.png', alt: 'UvaMinds')
          %li.bvr
            = link_to 'http://www.burovanroosmalen.nl' do
              = image_tag('buro-van-roosmalen.png', alt: 'Buro van Roosmalen')
          %li.nwo
            = link_to 'http://www.nwo.nl/' do
              = image_tag('nwo.png', alt: 'NWO')

          - if page_classes.include?('onderzoek')
            = image_tag('meditating-boy-juggles-pills.png', alt: 'Meditating boy juggles pills', class: "jongen")
          - else
            = image_tag('pillen-of-chillen.png', alt: 'Pillen of Chillen?', class: "jongen")

        %hr

        .info
          - unless @no_contact_info_in_footer
            %p
              Renée&nbsp;Meppelink,&nbsp;MSc
              =link_to('e-mail', 'mailto:r.meppelink@uva.nl', target: :blank)
              %br
              Tel: 020&#8209;525&nbsp;1271
              %br
              %br
              Dr. Esther de Bruin
              %br
              Prof. dr. Susan Bögels

            %dl
              %dt Adres:
              %dd
                Universiteit van Amsterdam
                %br
                Nieuwe Achtergracht 127
                %br
                1018 WS Amsterdam


          %footer
            Universiteit van Amsterdam, Faculteit der Maatschappij en Gedragswetenschappen
            %br
            %br

            .copyright
              Study design Copyright &copy; R. Meppelink MSc, dr. E.I. de Bruin, prof. dr. S.M. Bögels
              %br
              Images Copyright &copy; Corien Bögels
:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-49910160-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
