- @no_contact_info_in_footer = true

.layout-wrap.mod-content
  %h2 UvA Onderzoekers

  .comp-contact
    = image_tag('renee-meppelink.jpg', alt: 'Renée Meppelink')
    .address
      %h1 Renée&nbsp;Meppelink,&nbsp;MSc
      Universiteit van Amsterdam
      %br
      Bezoek adres: Nieuwe Achtergracht 127, 1018 WS Amsterdam
      %br
      Postadres: Postbus 15776, 1001 NG Amsterdam
      %br
      Kamer: D9.12
      %br
      Email: #{link_to('r.meppelink@uva.nl', 'mailto:r.meppelink@uva.nl', target: :blank)}
      %br
      Tel: 020&#8209;525&nbsp;1271

  .comp-contact
    = image_tag('esther-de-bruin.jpg', alt: 'Esther de Bruin')
    .address
      %h1 Dr. Esther de Bruin
      Email: #{link_to('e.i.debruin@uva.nl', 'mailto:e.i.debruin@uva.nl', target: :blank)}
      %br
      Tel: 020&#8209;525&nbsp;1262

  .comp-contact
    = image_tag('susan-bogels.jpg', alt: 'Susan Bögels')
    %h1 Prof. dr. Susan Bögels
    .address
      Email: #{link_to('s.m.bogels@uva.nl', 'mailto:s.m.bogels@uva.nl', target: :blank)}
      %br
      Tel: 020&#8209;525&nbsp;1580


  %h2 Deelnemende centra

  %h3= link_to 'UvA minds', 'http://www.uvaminds.nl'
  %p
    Valckenierstraat 65-67 2e verdieping
    %br
    1018 XE Amsterdam
    %br
    Tel: 020&#8209;525&nbsp;1441

  %h3= link_to 'Max Ernst', 'https://www.max-ernst.nl/'
  %p
    Kaldenkerkerweg 5
    %br
    5913 AB Venlo
    %br
    Tel: 077&#8209;320&nbsp;4300
  %p
    Willem II Singel 39
    %br
    6041 HR Roermond
    %br
    Tel: 047&#8209;532&nbsp;5588

